.body {
  font-size: large;
  padding-left: 16px;
}

.todo-card-name{
  font-size: larger;
}

.mat-card-actions {
  padding-left: 5px;
}

.body {
  margin-left: 0px;
  font-size: x-large;
}

.todo-card-status {
  margin-bottom: 10px;

}

.completed {
  color: limegreen;
  margin-bottom: 10px;
}
.todo-card{
  padding: 40px;
}

.incomplete {
  color: red;
}

mat-card-header {
  display: flex;
  flex-direction: column;
}

.category {
  padding-top: 10px;
  padding-left: 16px;
  font-size: small;
}
